Invoice part 2.json
{
  "name": "Invoice part 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread",
          "sender": "khoa.dang.career@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        -96
      ],
      "id": "cd8f0f93-9ed9-4a3e-8837-121878833a60",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "VD0KeOKob1FRyqz5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        -48
      ],
      "id": "e12be081-5c8c-42ca-9e72-4a4beaccda98",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sNzbXkEFB5vfX0j8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d94e82c-b3aa-433c-8796-30318941b8a8",
              "leftValue": "={{ $json.fields['Approval Status'] }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        -128
      ],
      "id": "4e8cab7f-1e7b-4abd-b9bb-54375116781f",
      "name": "Approved?"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app4LN2QH67nuyhsv",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://airtable.com/app4LN2QH67nuyhsv"
        },
        "table": {
          "__rl": true,
          "value": "tblQN7mUg3wGOoRzJ",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://airtable.com/app4LN2QH67nuyhsv/tblQN7mUg3wGOoRzJ"
        },
        "filterByFormula": "={Invoice Number} = '{{$json.output[\"Invoice ID\"]}}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        48,
        -160
      ],
      "id": "9c5c0ccf-a347-45da-af1f-ff39551f84a2",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "Vf02RIUgp7ZybCTl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4LN2QH67nuyhsv",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://airtable.com/app4LN2QH67nuyhsv"
        },
        "table": {
          "__rl": true,
          "value": "tblQN7mUg3wGOoRzJ",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://airtable.com/app4LN2QH67nuyhsv/tblQN7mUg3wGOoRzJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Total Amount": 0,
            "Approval Status": "={{ $('Approval Route').item.json.output['Approval Status'] }}",
            "Rejection Reason": "={{ $('Approval Route').item.json.output['Reason for rejection'] }}",
            "Payment Status": "Not Paid"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vendor Contact Email",
              "displayName": "Vendor Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vendor Phone",
              "displayName": "Vendor Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoice Description",
              "displayName": "Invoice Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approval Status",
              "displayName": "Approval Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rejection Reason",
              "displayName": "Rejection Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Paid",
                  "value": "Paid"
                },
                {
                  "name": "Not Paid",
                  "value": "Not Paid"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Date",
              "displayName": "Payment Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Proof of Payment",
              "displayName": "Proof of Payment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoice PDF",
              "displayName": "Invoice PDF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        -144
      ],
      "id": "b188c216-2dce-4cb0-850f-b18c9823e220",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "Vf02RIUgp7ZybCTl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "khoa.dang.career@gmail.com",
        "subject": "Transfer Request",
        "emailType": "text",
        "message": "=Dear Transfer Handling Team\n\nThe following invoice has been approved. Please schedule to make transfer accordingly.\n\nInvoice ID: {{ $json.output['Invoice ID'] }}\nVendor Name: {{ $json.output['Vendor Name'] }}\nApproval Status: {{ $json.output['Approval Status'] }}\n\nApprover team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        608,
        -272
      ],
      "id": "22258fcc-92af-44d9-a38a-e13828a96eac",
      "name": "Send msg to transfer team",
      "webhookId": "212522b1-b8b6-463f-99d9-0b442c00d509",
      "credentials": {
        "gmailOAuth2": {
          "id": "VD0KeOKob1FRyqz5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Vendor name: {{ $json.fields['Vendor Name'] }}\nReason of rejection: {{ $json.fields['Rejection Reason'] }}",
        "options": {
          "systemMessage": "\nYou are a vendor support employee. This vendor's invoice has been rejected. Use the reason of rejection given to write a polite but informative gmail to the vendor\nIncluding a polite greeting and sign off as Dave from Persona 5\n\nDont include subject"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        512,
        -48
      ],
      "id": "8ec87648-f0ed-4f8c-ab02-00e2271eff74",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        160
      ],
      "id": "25fe75ae-64c9-4fd9-ac61-5ced319a4820",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "sNzbXkEFB5vfX0j8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.subject }}",
                    "rightValue": "Invoice Approval",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "b66f683e-8c43-4dc9-8b23-c4ff7b515bbc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f33a5c94-f57f-46ed-8f54-913033d79235",
                    "leftValue": "={{ $json.subject }}",
                    "rightValue": "Payment Confirmation",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -464,
        -80
      ],
      "id": "50ed1730-0369-4227-9db3-e9b9226e4b9c",
      "name": "Switch"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice ID",
              "description": "The ID of the Invoice",
              "required": true
            },
            {
              "name": "Vendor Name",
              "description": "The name of the Vendor",
              "required": true
            },
            {
              "name": "Approval Status",
              "description": "Is it approved? Or rejected? Store it as either Approved or Rejected only",
              "required": true
            },
            {
              "name": "Reason for rejection",
              "description": "If there is rejection, please store the reason here"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -256,
        -176
      ],
      "id": "005a650c-cfd9-4889-ae42-89ec9380520c",
      "name": "Approval Route"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice ID",
              "description": "The ID of the Invoice",
              "required": true
            },
            {
              "name": "Vendor Name",
              "description": "name of vendor"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -288,
        112
      ],
      "id": "47f2e4d7-e84a-40aa-8946-9ed3e7369cbf",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -384,
        208
      ],
      "id": "81f6496b-6b4f-4888-b7a5-a9329d7e0b68",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "sNzbXkEFB5vfX0j8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app4LN2QH67nuyhsv",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://airtable.com/app4LN2QH67nuyhsv"
        },
        "table": {
          "__rl": true,
          "value": "tblQN7mUg3wGOoRzJ",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://airtable.com/app4LN2QH67nuyhsv/tblQN7mUg3wGOoRzJ"
        },
        "filterByFormula": "={Invoice Number} = '{{$json.output[\"Invoice ID\"]}}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        32,
        112
      ],
      "id": "cee296f8-a1b2-4358-8576-28a9de394d23",
      "name": "Search records1",
      "credentials": {
        "airtableTokenApi": {
          "id": "Vf02RIUgp7ZybCTl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4LN2QH67nuyhsv",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://airtable.com/app4LN2QH67nuyhsv"
        },
        "table": {
          "__rl": true,
          "value": "tblQN7mUg3wGOoRzJ",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://airtable.com/app4LN2QH67nuyhsv/tblQN7mUg3wGOoRzJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Payment Status": "Paid",
            "Vendor Name": "={{ $json['Vendor Name'] }}",
            "Invoice Number": "={{ $json['Invoice Number'] }}"
          },
          "matchingColumns": [
            "Invoice Number",
            "Vendor Name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vendor Contact Email",
              "displayName": "Vendor Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vendor Phone",
              "displayName": "Vendor Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoice Description",
              "displayName": "Invoice Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approval Status",
              "displayName": "Approval Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rejection Reason",
              "displayName": "Rejection Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Paid",
                  "value": "Paid"
                },
                {
                  "name": "Not Paid",
                  "value": "Not Paid"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Date",
              "displayName": "Payment Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Proof of Payment",
              "displayName": "Proof of Payment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoice PDF",
              "displayName": "Invoice PDF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        112
      ],
      "id": "08c42a1c-4986-4151-918f-a94c8f067549",
      "name": "Update record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "Vf02RIUgp7ZybCTl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "khoa.dang.career@gmail.com",
        "subject": "Error in Invoice",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        848,
        -16
      ],
      "id": "48deff9e-02d9-4528-b0ac-ff8bdae646b1",
      "name": "Send invoice rejection to vendor",
      "webhookId": "c88957da-3be7-4835-a0e9-2c13ab263f8d",
      "credentials": {
        "gmailOAuth2": {
          "id": "VD0KeOKob1FRyqz5",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Approval Route",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Send msg to transfer team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send invoice rejection to vendor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Approval Route",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Route": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3db2207c-4aa2-4b4e-a7cf-819b31f0f2b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "473df4957c7b111425fa1bedd16d6afc129e19aa0ab8d4a5b9391d55ba205d7c"
  },
  "id": "2F40vUPTtIrR114v",
  "tags": []
}